.main-container {
  position: relative;
  width: 70vw;
}
.social-midia-container {
  position: fixed;
  width: 100px;
  height: 200px;
  background-color: #b4b4b4;
  border-radius: 10px 0 0 10px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.go-top-link {
  position: absolute;
  background-color: #000;
  display: inline-block;
  width: 60px;
  height: 100%;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);;
}